@import url("https://www.silvertransfert.fr/body.css");
@import url("https://www.silvertransfert.fr/footer.css");


body { 
    font-family: 'Roboto', sans-serif;
    background: #0d0d0d;
    color: white;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    font-family: Arial, sans-serif; 
}


#statu_text {
    font-size: 1.2rem;
}

.card {
    position: relative;

    background: linear-gradient(144deg,#AF40FF, #5B42F3,#00DDEB);
   
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-radius: 25px;

    margin-bottom: 1rem;

    width: 15rem;
    height: 20rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card h1 {
    font-size: 2rem;
}

.card .rappel {
    margin-top: -1.5rem;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 600;
}

.card ul {
    transform: translatex(-15px);
    text-align: left;
    list-style: none;
}

.card ul li span {
    font-size: 20px;
}

.card .support {
    margin-bottom: 10px;
}

.card .support span {
    font-size: 12px;
    font-weight: bold;
}

.card .support a {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}




/* From Uiverse.io by Li-Deheng */ 
.btn-conteiner {
    margin-top: 10px;
    margin-bottom: 1.1rem;

    cursor: pointer;

    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  
  .btn-content {
    display: flex;
    align-items: center;
    padding: 3px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
  
  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }
    
  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }
  
  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }
  
    50% {
      fill: var(--color-background);
    }
  
    100% {
      fill: white;
    }
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }
  
  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }




.social-contaner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
    transform: translateX(-10px);
}

.social-icon {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
}

.social-icon img {
    width: 30px;
}

.social-icon:hover {
    transform: scale(1.1);
}

.social-icon:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out;
}

.social-icon:hover::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: black;
    margin-bottom: -12px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out;
}

.social-icon::after,
.social-icon::before {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}





.loader-1, .loader-2 {
    transform: translateY(10px);
}


/* From Uiverse.io by PhilibertGentien */ 
.pl,
.pl__worm {
 animation-duration: 4s;
 animation-iteration-count: infinite;
}

.pl {
 animation-name: bump5;
 animation-timing-function: linear;
 width: 5em;
 height: 5em;
}

.pl__ring {
 stroke: hsla(var(--hue),10%,10%,0.1);
 transition: stroke 0.3s;
}

.pl__worm {
 animation-name: worm5;
 animation-timing-function: cubic-bezier(0.42,0.17,0.75,0.83);
}

/* Animations */
@keyframes bump5 {
 from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to {
  transform: translate(0,0);
 }

 44% {
  transform: translate(1.33%,6.75%);
 }

 53% {
  transform: translate(-16.67%,-0.54%);
 }

 61% {
  transform: translate(3.66%,-2.46%);
 }

 69% {
  transform: translate(-0.59%,15.27%);
 }

 76% {
  transform: translate(-1.92%,-4.68%);
 }

 83% {
  transform: translate(9.38%,0.96%);
 }

 90% {
  transform: translate(-4.55%,1.98%);
 }
}

@keyframes worm5 {
 from {
  stroke-dashoffset: 10;
 }

 25% {
  stroke-dashoffset: 295;
 }

 to {
  stroke-dashoffset: 1165;
 }
}
d {
color: hsl(290, 90%, 55%);
color: hsl(271, 90%, 55%);

}


/* From Uiverse.io by NourSafta */ 
.loader-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
  }
  
  .loader-2::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #46C380;
    border-radius: 50%;
    animation: loading 0.75s ease-out infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }


/* From Uiverse.io by Creatlydev */ 
.download-final-button {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.35em;
    padding: 0.75em 1em;
    padding-right: 1.25em;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 2em;
    font-size: 1rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    transition: transform 0.3s;
  
    background: linear-gradient(
      90deg,
      rgba(77, 54, 208, 1) 0%,
      rgba(132, 116, 254, 1) 100%
    );
  }
  
  .button__icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .download-final-button:hover {
    border-color: #f4f5f2;
  }
  
  .download-final-button:active {
    transform: scale(0.98);
    box-shadow: 0 0.5em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
  }
  