<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="hostname" content="t.silverdium.fr">
    <meta name="copyright" content="2024 - 2025 SilverTransfer | SilverCore">
    <meta name="author" content="SilverCore | SilverTransfer | MisterPapaye">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#AF40FF">
    <meta name="robots" content="noindex, nofollow">

    <meta name="robots" content="noindex, nofollow">

    <link rel="stylesheet" href="/t/assets?file=end&ext=css">

    <title>SilverTransfer</title>

</head>
<body>
    

    <section id="end"> 

        <h1>Fichier téléchargé !</h1>

        <button onclick='window.location.href = "https://www.silvertransfert.fr"'>Faire un transfert !</button>

    </section>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    <ul class="social-contaner">

        <a target="_blank" href="https://www.silvercore.fr"> <li data-tooltip="Site de silvercore" class="social-icon"> <img src="https://api.silvercore.fr/img/favicon/core?res=ico" alt="logo silvercore" style="border-radius: 50rem;"> </li> </a>
        <a target="_blank" href="https://discord.gg/ftFhQTJsQ5"> <li data-tooltip="Discord SilverCore" class="social-icon"> <i class="bi bi-discord"> </i> </li> </a>
        <a target="_blank" href="https://discord.gg/mKs3uMTJWM"> <li data-tooltip="Discord support" class="social-icon"> <i class="bi bi-life-preserver"> </i> </li> </a>
        <a target="_blank" href="https://tipeee.com/silverdium"> <li data-tooltip="Nous aider avec tipeee" class="social-icon"> <i class="bi bi-heart"> </i> </li> </a>
        <a target="_blank" href="https://github.com/SilverCore-Git/SilverTransfer"> <li data-tooltip="Open source sur GitHub" class="social-icon"> <i class="bi bi-github"> </i> </li> </a>

    </ul> 
        <style>
            .social-contaner {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
gap: 2rem;
list-style: none;
transform: translateX(-10px);
}


.social-icon {
font-size: 2rem;
cursor: pointer;
transition: all 0.3s;
color: white;
}

.social-icon img {
width: 30px;
}

.social-icon:hover {
transform: scale(1.1);
}


.social-icon:hover::after {
content: attr(data-tooltip);
position: absolute;
bottom: 100%;
left: 50%;
transform: translateX(-50%);
background-color: black;
color: white;
padding: 5px 10px;
border-radius: 5px;
font-size: 14px;
white-space: nowrap;
opacity: 1;
visibility: visible;
transition: opacity 0.2s ease-in-out;
}

.social-icon:hover::before {
content: "";
position: absolute;
bottom: 100%;
left: 50%;
transform: translateX(-50%);
border: 6px solid transparent;
border-top-color: black;
margin-bottom: -12px;
opacity: 1;
visibility: visible;
transition: opacity 0.2s ease-in-out;
}

.social-icon::after,
.social-icon::before {
opacity: 0;
visibility: hidden;
transition: opacity 0.2s ease-in-out;
}
        </style>


    <section style="margin-top: 60px">

        <h2>👑 Merci de soutenir les projets <a href="https://www.silvercore.fr">SilverCore</a> ! ❤️<br></h2>
        <h2 class="btn_tipeee" onclick="tipeee()">
            <span class="text"><strong>😎 VOUS POUVEZ NOUS AIDER ! 💸</strong></span>
        </h2>

    </section>

    <a href="/patchnotes" target="_blank" class="vtext"> SilverTransfer version <span id="vversion">0.0.0</span> </a>

    <style>
        .vtext {
            position: fixed;
            bottom: 8vh;
            left: 1.5rem;
            font-weight: bold;
        }
        .vtext:hover {
            text-decoration: underline;
        }
        @media (max-width: 700px) {
            .vtext {
                display: none;
            }
        }
    </style>

    <div class="vtext2">
        <a href="/patchnotes" target="_blank"> <strong> Patchnotes </strong> </a>
        <a style="margin-right: 1rem; margin-left: 1rem;">  |  </a>
        <a href="https://www.silvercore.fr/#savoir" target="_blank"> <strong> En savoir plus </strong> </a>
    </div>

    <style>
        .vtext2 {
            position: fixed;
            bottom: 8vh;
            right: 2rem;
            font-weight: bold;
            display: flex;
            flex-direction: row;
        }
        .vtext2 a:hover {
            text-decoration: underline;
        }
        @media (max-width: 700px) {
            .vtext2 {
                display: none;
            }
        }
    </style>

    <footer id="footer">
        <p>&copy; 2024 - <span id="year">0000</span> SilverTransfert | <a href="https://www.silvercore.fr">SilverCore</a>. Tous droits réservés.</p>
    </footer>
    <script defer>
        const annee = new Date().getFullYear();
        document.getElementById('year').innerText = annee;
    </script>

</body>
</html>