/**
 * @author SilverCore
 * @author SilverTransfer
 * @author MisterPapaye
 */


#upload {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: white;
}


.card {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(144deg,#AF40FF, #5B42F3,#00DDEB);
    padding: 1rem 1.5rem 2rem 1.5rem;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}

.card h1 {
    font-size: 3rem;
}
.card h2 {
    margin-top: -1rem;
}



/* From Uiverse.io by Yaya12085 */ 
.container {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
  }
  
  .header {
    flex: 1;
    cursor: pointer;
    width: 100%;
    border: 2px dashed rgb(167, 33, 167);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header svg {
    height: 100px;
  }
  
  .header p {
    text-align: center;
    color: black;
  }
  
  .footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }
  
  .footer svg {
    height: 130%;
    fill: rgb(167, 33, 167);
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
  
  .footer p {
    flex: 1;
    text-align: center;
  }
  
  #file {
    display: none;
  }





  /* From Uiverse.io by eirikvold */ 
.send-btn {
    font-family: inherit;
    font-size: 22px;
    background: linear-gradient(to bottom, rgb(255, 20, 165) 0%,#e413ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  .send-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .send-btn:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .send-btn span {
    display: block;
    margin-left: 0.4em;
    font-size: 1.5rem;
    transition: all 0.3s;
  } 
  .send-btn:active .svg-wrapper {
    transform: translateX(1rem); 
  }

  .send-btn svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  .send-btn .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  .send-btn:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .send-btn:hover svg {
    transform: rotate(45deg);
  }
  
  